<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <e4view
            category="org.eclipse.ui"
            class="eu.hohenegger.gitmine.ui.views.StatisticsView"
            icon="icons/sample.gif"
            id="eu.hohenegger.gitmine.ui.statistics"
            name="Git Repository Statistics"
            restorable="true">
      </e4view>
   </extension>
</plugin>
